.btn-yellow {
	background-color: #FFC94A;
	padding: 15px 20px;
	border-radius: 5px;
	color: #124076;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	transition: 0.3 ease;
}

.btn-yellow:hover {
	background-color: #124076;
	color: #FFC94A;